
<!-- Remove the container if you want to extend the Footer to full width. -->

    <img src="https://www.childfund.org/Assets/imgs/torn-strip.svg" alt="" style="width: 100%;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #007a45; max-width: 100%; overflow: hidden; "

            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #007a45;   font-family: Poppins, sans-serif;"
               >
        <!-- Left -->
        <div class=" d-flex justify-content-around  flex-wrap m-auto " style="width: 100%; padding: 1rem 4rem;">
          <section>
            <h4>A PROMISE WITH CONFIDENCE</h4>
            <p style="width: 50ch;"> We're proud to be an organization you can trust, and we invite you to learn about our financial accountability.</p>
          </section>
          <section class="grid-img">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width: 120px; height: 40px;" alt="">
          </section>
        <!-- Left -->
  
        <!-- Right -->

        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="" style="width: 100%;">
        <div class="text-center text-md-start mt-3">
          <!-- Grid row -->
          <div class="row mt-3">
          
  
        
                    <!-- Grid column -->
                     
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">QUICK LINKS</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 80px; background-color: #f0ecfa; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white fs-6">SPONSOR A CHILD</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">MANAGE ACCOUNT</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">DONATE</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">MORE WAYS TO HELP</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">FAQS</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">CAREERS</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">MORE TO EXPLORE</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white w-300 fs-6">DIVERSITY, EQUITY & INCLUSION</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">PRIVACY POLICY</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">TERMS OF USE</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">SAFEGUARDING CHILDREN</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">STOCK GIFTS</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6">KNOWLEDGE CENTER</a>
              </p>
              <p>
                <a href="#!" class="text-white fs-6" >SANNUAL REPORTS, IMPACT REPORTS & 990S</a>
              </p>
              <p>
                <a href="#!" class="text-white">CODE OF BUSINESS CONDUCT AND ETHICS</a>
              </p>
              <p>
                <a href="#!" class="text-white">LIVE! ARTIST</a>
              </p>
              <p>
                <a href="#!" class="text-white">SITE MAP</a>
              </p>

            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">STAY CONNECTED</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
                <ul style="display: flex; list-style: none; align-items: center; justify-content: center; margin-left: -2rem;">
                    <li><i class="fa-brands fa-facebook-f" style="width: 30px;"></i></li>
                    <li><i class="fa-brands fa-x-twitter" style="width: 30px;"></i></li>
                    <li><i class="fa-brands fa-instagram" style="width: 30px;"></i></li>
                    <li><i class="fa-brands fa-youtube" style="width: 30px;"></i></li>
                    <li><i class="fa-brands fa-linkedin-in" style="width: 30px;"></i></li>
                </ul>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <hr style="background-color: white; width: 80%; margin-block-end: 1rem; height: 3px; margin-inline: auto;">
      <section style="display: flex; padding-inline: 3rem; align-items: center; justify-content: space-around; margin-block-end: 2rem; flex-wrap: wrap;">
        <section style="width: 50ch;">
            Copyright ©2024 ChildFund. A 501(c)(3) organization. Donations are tax deductible to the fullest extent permitted by law.
            Christian Children's Fund and CCF are registered service marks of ChildFund International, USA.
        </section>
        <section>
            <p>A member of</p>
            <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" style="width:120px; " alt="">
        </section>
      </section>
      <!-- Copyright -->
    </footer>
    <script src="https://kit.fontawesome.com/36c3ea0fca.js" crossorigin="anonymous"></script>
    <!-- Footer -->