
    <img src="images/download.svg" alt="" style="width: 100%;">
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #506ba5; max-width: 100%; overflow: hidden; ">

          <section id="promise" style="display: flex; justify-content: space-between; flex-wrap: wrap; padding: 1rem 6rem; align-items: flex-start; font-family: Poppins, sans-serif;">
            <div>
              <h4>A PROMISE WITH CONFIDENCE</h4>
              <p style="max-width: 50ch;"> We're proud to be an organization you can trust, and we invite you to learn about our financial accountability.</p>
            </div>
            <ul class="link-ul">
              <li><a href="https://www.instagram.com/visionforkidsethiopia" target="_blank"> <img src="/images/instagram.png" alt=""  class="s-links"></a></li>
              <li><a href="https://www.twitter.com/visionkids" target="_blank"><img src="/images/twitter.png" alt="" class="s-links"></a></li>
              <li><a href="https://www.facebook.com/profile.php?id=61555495380194" target="_blank"><img src="/images/facebook-app-symbol.png" alt="" class="s-links"></a></li>
            </ul>
          </section>
      

      <section id="skills">
        <section class="skills">
            <section class="skill1">
                <H5>QUICK LINKS</H5>
                <ul>
                    <li><a href="/login">DONATE</a></li>
                    <li> <a href="/login">MANAGE ACCOUNT</a></li>
                    <li> <a href="">MongoDB</a></li>
                </ul>
            </section>
            <section class="skill2">
                <h5>MORE TO EXPLORE</h5>
                <ul>
                    <li> <a href="">DIVERSITY, EQUITY & INCLUSION</a></li>
                    <li> <a href="">SITE MAP</a></li>
                    <li> <a href="">ReactJS</a></li>
                </ul>
            </section>
            <section class="skill4">
                <h5>ADDRESS</h5>
                <ul>
                  

                 <li><i class="fas fa-home "></i> German Square, Wereda 02 | Nifas Silk Lafto AA, Ethiopia</li>
                 <li><i class="fas fa-envelope mr-3"></i> visioncharityorganization@gmail.com  </li>
                 <li><i class="fas fa-phone mr-3"></i> +251928999444</li>
                 <li><i class="fas fa-print mr-3"></i> 0113852356</li>
                </ul>
             </section>  
        </section>
  
      <!-- Copyright -->
      <section style=" width:80%; margin: 0 auto; display:flex; padding: 1rem 1.4rem; gap: 2rem; align-items:center; justify-content: space-between; margin-block-end: 0.5rem; flex-wrap: wrap; border-top: 1.3px solid #f0ecfa;">
        <section style="width: 50ch;">
            Copyright ©2024 ChildFund. A 501(c)(3) organization.
            Christian Children's Fund and CCF are registered service marks of ChildFund International, USA.
        </section>
        <section style="margin: 0 auto;">
            <p>A member of</p>
            <img src="/images/Logo-Vision parents of blind chilren charity organization_page-0001.jpg" alt=""style="border-radius: 140rem;" class="logo">
        </section>
      </section>
    </footer>
    <script src="https://kit.fontawesome.com/36c3ea0fca.js" crossorigin="anonymous"></script>
  