
    <img src="/images/download.svg" alt="" style="width: 100%;">
    <footer id="sub"
            class=" text-lg-start text-white"
            style="background-color: #506ba5; max-width: 100%; overflow: hidden;  ">

          <section id="promise" style="display: flex; gap: 20px; justify-content: space-between; flex-wrap: wrap; padding: 1rem 6rem; align-items: flex-start; font-family: Poppins, sans-serif; margin-bottom: 2rem;">
            <form action="/subscribe" method="post">
              <h3 style="border: 2px solid var(--green); border-bottom-color: white; display: inline-block; width: 180px;">Newsletter</h3>
              <p>Subscribe to our news letter and get the latest update and news from our organization</p>
              <label for="newsl" style="display: block;">Email</label>
              <input style="margin-bottom: 1rem;" type="email" name="email" id="newsl">
              <button type="submit" style="font-weight: 600; border-radius: 0.25rem; color: white; padding: 0.3rem; border: 1px solid transparent; background-color: rgb(39, 139, 39);">Subscribe</button>
           <%if(locals.thanks != ''){%>
              <p>Thanks for subscribing!</p> 
           <%}%>
              
          </form>
            
            <ul class="link-ul">
              <li><a href="https://www.instagram.com/visionforkidsethiopia" target="_blank"> <img src="/images/instagram.png" alt=""  class="s-links"></a></li>
              <li><a href="https://www.twitter.com/visionkids" target="_blank"><img src="/images/twitter.png" alt="" class="s-links"></a></li>
              <li><a href="https://t.me/+xOlaMFLG5tdlNDRk" target="_blank"> <img src="/images/telegram.png" alt=""  class="s-links"></a></li>
              <li><a href="https://www.facebook.com/profile.php?id=61555495380194" target="_blank"><img src="/images/facebook-app-symbol.png" alt="" class="s-links"></a></li>
            </ul>
          </section>
      
          <p style="width: 50%; font-size: 1.02rem; padding-left: 5rem; font-family: Poppins, sans-serif;">Vision Charity Organization  was established on March 15, 2022 as provide tuition-free kindergarten teaching services for visually impaired children.</p>
      <section id="skills">
        <section class="skills" id="ski">
            <section class="skill1">
                <H5>QUICK LINKS</H5>
                <ul>
                  <li><a href="/about-us">About US</a></li>
                  <li><a href="#news">News</a></li>
                  <li><a href="/login">DONATE</a></li>
                  <li><a href="/login">MANAGE ACCOUNT</a></li>
                </ul>
            </section>
            <section class="skill2">
                <h5>MORE TO EXPLORE</h5>
                <ul>
                    <li> <a href="">DIVERSITY, EQUITY & INCLUSION</a></li>
                    <li> <a href="https://maps.google.com/maps?q=8.966290,38.728295&ll=8.966290,38.728295&z=16" target="_blank">SITE MAP</a></li>
                </ul>
            </section>
            <section class="skill4">
                <h5>ADDRESS</h5>
                <ul>
                  

                 <li><i class="fas fa-home "></i> German Square, Wereda 02 | Nifas Silk Lafto AA, Ethiopia</li>
                 <li><i class="fas fa-envelope mr-3"></i> visioncharityorganization@gmail.com  </li>
                 <li><i class="fas fa-phone mr-3"></i> +251928999444</li>
                 <li><i class="fas fa-print mr-3"></i> 0113852356</li>
                </ul>
             </section>  
        </section>
  
      <!-- Copyright -->
      <section style=" width:80%; margin: 0 auto; display:flex; padding: 1rem 1.4rem; gap: 2rem; align-items:center; justify-content: space-between; margin-block-end: 0.5rem; flex-wrap: wrap; border-top: 1.3px solid #f0ecfa;">
        <section style="width: 50ch;">
          @copyright 2024 by Vision Charity Organization | Developed by <a href="https://www.kasmasolution.com" style="text-decoration: none;"> Kasma Solution</a>
        </section>
        <section style="margin: 0 auto;">
            <img src="/images/Logo-Vision parents of blind chilren charity organization_page-0001.jpg" alt=""style="border-radius: 140rem;" class="logo">
        </section>
      </section>
    </footer>
    <script src="https://kit.fontawesome.com/36c3ea0fca.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  