<header  id="header" class="container-fluid">
      <a href="/" class="d-flex flex-column align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
       <img src="https://www.childfund.org/contentassets/0426e7aebc224f70815161b9405a6554/cf-logo.png" alt="" class="logo">
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page"><img src="/images/bank-account.png" class="icon" alt=""><span class="text-white fs-5 bg-transparent">ACCOUNT</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><img src="/images/log-in.png" class="icon" alt=""><span class="text-white fs-5">SIGN IN</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><img src="/images/shopping-basket.png" class="icon" alt=""><span class="text-white fs-5">BASKET</span></a></li>
      </ul>
</header>
<nav>
  <img src="/images/menu.png" alt="" class="menu">
  <ul class="ful">
    <div class="dropdown">
      <button
        class="btn  dropdown-toggle text-light"
        type="button"
        id="dropdownMenuButton"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        ABOUT US
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-white text-light dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        GET INVOLVED
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> 
    <ul class="inner-ul">
        <li class="button" >DONATE</li>
        <li class="button">SPONSOR A CHILD</li>
        <li class="button">GIVE MONTHLY</li>
    </ul>
    </ul>
   
  </ul>
</nav>