<header  id="header" class="container-fluid">
      <a href="/" class="d-flex flex-column align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
       <img src="/images/Logo-Vision parents of blind chilren charity organization_page-0001.jpg" alt=""style="border-radius: 140rem;" class="logo">
      </a>
<nav style="align-items: center;">
  
    <ul class="colu">        
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page"><span class="text-white fs-6 bg-transparent">HOME </span></a></li>
      <a href="/about-us" class="link">ABOUT US</a>
      <a href="#skills" class="link">CONTACT</a>
      <a href="#article" class="link">BLOG</a>
      <a href="/staff" class="link">STAFF</a>
    </ul>
      <ul class="nav nav-pills">

        <li class="nav-item"><a href="/login" class="nav-link"><img src="/images/log-in.png" class="icon" alt=""><span class="text-white fs-6">SIGN IN</span></a></li>
      </ul>
</header>
<img src="/images/menu.png" alt="" class="menu" style="width: 40px;">

<div class="menu-lii" >

        <ul class="colu-1">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page"><span class="text-white bg-transparent">HOME </span></a></li>
          <a href="/about-us" class="link">ABOUT US</a>
          <a href="#skills" class="link">CONTACT</a>
          <a href="#article" class="link" id="bl">BLOG</a>
          <a href="/staff" class="link">STAFF</a> 
        </ul>    
      <ul class="nav-1 nav-pills">
        
        <li class="nav-item"><a href="/login" class="nav-link"><img src="/images/log-in.png" class="icon" alt=""><span class="text-white">SIGN IN</span></a></li>
      </ul>
</div>