<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('./partials/header') %>
    <section class="dashboard">
        <%- include('./partials/nav') %>
        <section class="third-nav"><p>message</p></section>
    </section>
       <%- include('../partials/footer') %>
</body>
</html>