<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('./partials/header') %>
    <section class="dashboard">
        <%- include('./partials/nav') %>
        <section class="third-nav dash-message">
            <h3>Send messages</h3>
            <h5>Send Message from VCO to all members</h5>
            
                <form action="/sendmessage" class="message-board form" method="post">
                    <textarea name="message" id="" cols='40' rows="8"></textarea>
                    <button type="submit">send</button>
                </ul>
        </section>
    </section>
       <%- include('../partials/footer') %>
</body>
</html>