<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  
  <body>
    <%- include('./partials/header'); %>
    <h3 style="min-height: 40vh; color: rgb(41, 97, 201); padding: 1.5rem;">
        Page not found
    </h3>
    <%- include('./partials/footer'); %>
  </body>
</html>
