:root {
  --green: #506ba5;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
}
body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#header {
  background-color: var(--green);
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding: 15px 20px;
  align-items: center;
  flex-wrap:wrap;
  min-height: 90px;
  gap: 12%;
}

#header > ul{
  justify-self: flex-end;
}
#header > ul li:hover span{
  color: rgb(214, 170, 25) !important;
}
.logo {
  width: 100px;
}

nav{
  width: 100%;
  min-height: 70px;
  background-color: var(--green);
  padding: 0.3rem;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}
nav > ul> li{
  list-style: none;
}
nav > ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  padding-right: 1.5rem;
}

.icon {
  width: 21px;
  /* height: 26px; */
}
.dropdown:hover>.dropdown-menu {
  display: flex;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.hover-link {
  position: relative;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: rgb(214, 170, 25);
}
.button {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  border: 1px solid white;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-weight: 600;
}
.button:hover {
  background-color: white;
  color: var(--green);
}

.inner-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  list-style: none;
}
.menu {
  width: 40px;
  background-color: white;
  border-radius: .3rem;
  align-self: flex-end;
  margin-right: 2rem;
  display: none;
}

.colu {
  display: flex;
  gap: 21px;
}


@media (max-width: 973px) {
  #promise {
    padding: 1rem !important;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  #header {
    flex-wrap: nowrap;
  }
  .login-card {
    width: 65% !important;
  }
  .colu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 7px;
    margin-block-end: 10px;
  }
  .project-wrapper {
    flex-direction: column-reverse;
  }
  .menu {
    display: block !important;
  }
  nav > ul {
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px;
    
    display: none;
  }
  .show {
    display: flex !important;
    flex-direction: column !important;
  }
  .show > li {
    margin-block-end: 15px;
  }
  .inner-ul {
    align-items: flex-start;
    padding-inline-start: 0;
    gap: 5px;
  }
}
.grid-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}


@media(max-width: 766px) {

  #header {
    font-size: 20px;
    flex-direction: row !important;
  }
  .login-card, .signup-form input {
    width: 65% !important;
  }
  
  #header > ul {
    width: 100%;
    justify-content: flex-end;
  }
  nav {
    gap: 2rem;
  }
  nav > ul {
    /* flex-direction: column; */
    align-items: flex-start;
    min-height: 100px;
    
    display: none;
  }
  .show {
    display: block !important;
  }
  .show > li {
    margin-block-end: 15px;
  }
  .inner-ul {
    align-items: flex-start;
    padding-inline-start: 0;
    gap: 5px;
  }
}
@media (max-width: 450px) {
 .project-wrapper {
    width: 95% !important;
  } 
  .login-card,.signup-form input {
    width: 85% !important;
  }
}
@media(max-width: 403px) {
  #header > ul {
    width: 100%;
    justify-content: flex-start;
  }
  #header {
    flex-wrap: wrap;
  }
  nav > ul {
    flex-direction: row;
  }
 .login-card, .signup-form input {
    width: 95% !important;
  }
  .logo {
    width: 35%;
  }
  .form-sub {
    flex-direction: column;
  }
  .form-sub > p {
    padding-top: 0 !important;
  }
}






#skills {
  background-color: var(--green);
  color: rgb(221, 216, 216);
  font-family: Poppins;  
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding-block-start: 2.4rem;
  padding-inline-end: 0.5rem;
}
.skills {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  padding-inline: 2rem;
  flex-wrap: wrap;
}
.s-h1 {
  color: rgb(221, 216, 216);
  font-size: 3rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-bottom-color: linear-gradient(to right, rgb(221, 216, 216), black);
  border-bottom-width: 0.25rem;
  border-bottom-right-radius: 1.5rem;
  padding-left: 1rem;
}
.skills > section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#skills  ul {
  font-size: 0.9rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  list-style-type: none;
  padding-inline-start: 0;
}
#skills  ul > h5 {
  align-self: center;
}
#skills a {
  color: white;
}
#skills a:hover {
  color: rgb(214, 170, 25);
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #f3e59d;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #908f8d;
}