<nav style="z-index: 100;">
  <!-- <p style="align-self:flex-start; padding: 1rem; font-family: Poppins, sans-serif;">Welcome to VCO</p> -->
    <img src="/images/menu.png" alt="" class="menu">
      <ul class="ful" style="justify-content: space-between; align-items: center;">
        <p style="align-self:center ;">Welcome to VCO</p>
        <div style="display: flex; gap: 1rem; align-items: center; font-size: 1.1rem;">
           <ul class="colu">
       <a href="#skills" class="link">CONTACT</a>
      </ul>
      
      <ul class="inner-ul">
          <li class="button" ><%= locals.currentUser.firstName%></li>
      </ul>
        </div>
     
     
    </ul>
  </nav>