<nav id="navi-dash">
  <ul id="nav-u">
    <li><p>Welcome to VCO</p></li>
  </ul>
  <ul id="nav-ul">
    <li><a href="#skills" class="link">CONTACT</a></li>
    <li class="button" ><%= locals.currentUser.firstName%></li>
  </ul>
  <img src="/images/menu.png" alt="" class="menu menu-1" style="width: 31px;">
</nav>