    <ul class="second-nav" style="width: 200px;">
        <a href="/dashboard" style="margin-bottom: 1.99rem;">dashboard</a>
        <ul>
        <% if (locals.currentUser.isAdmin){%>
            <li><a href="/sendmessage">Send Message</a></li>
            <li><a href="/dashboard/sendUpdate">Send News</a></li>
            <%} else {%> 
           <li><a href="/dashboard">Message</a></li>
           <%}%>
            <li><a href="/dashboard/profile">Profile</a></li>
            <li><a href="/dashboard/donate">Donate</a></li> 
        </ul>

    <form action="/logout" method="post" style="margin-top: 1.99rem;">
        <button>Logout</button>
    </form>
    </ul>
