<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
  
      
<body>
    <%- include('../partials/header'); %>
    <section class="mission" data-aos="zoom-in" data-aos-duration="1500" style="height: 2vh !important; padding: 0 !important;">
        <h3>Learn more about Vision Charity Organization</h3>
      </section>
      <section class="mission" data-aos="zoom-in" data-aos-duration="1500" style="margin-top: -3rem;">
        <h4>WHO WE ARE</h4>
        <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif;">
            Mother having visually impaired children were suffering a lot while searching for kindergarten teaching center for their blind children in Addis Ababa. Since the service was not available in Addis Ababa and even in Ethiopia, We planned to establish an organization with the aim of opening kindergarten for blind children. Hence Vision parents’ of blind children was established and licensed as a local, non-profit, charity organization on March 15, 2022. We are also working on protection of the rights of children.
          </p>
      </section>
      <section class="mission" data-aos="zoom-in" data-aos-duration="1500" style="margin-top: -3rem;">
        <h4> OUR VISION</h4>
        <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif;">
            To see every visually impaired child at the age of kindergarten has access to quality teaching service
          </p>
      </section>
      <section class="mission" data-aos="zoom-in" data-aos-duration="1500" style="margin-top: -3rem;">
        <h4> OUR MISSION</h4>
        <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif; text-align: center;">
            To provide tuition free kindergarten teaching service for visually impaired children and work for the protection of their rights. 
          </p>
      </section>

    <%- include('../partials/footer'); %>
</body>
</html>