<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  
  <body>
    <%- include('../partials/header'); %>
    <section style="padding: 2rem; font-family: Noto; font-weight: 700; color: var(--green);">
      <h1> Vision Charity Organization </h1>
      <a href="#mission" style="font-family: Poppins, sans-serif;">learn more <img src="/images/down-arrow.png" alt=""></a>
    </section>
    <section class="Section_top">
    </section> 
    <section class="mission" data-aos="zoom-in" data-aos-duration="1500">
      <h3>Welcome to Vision Charity, where we provide tuition-free kindergarten teaching services for visually impaired children and passionately advocate for the protection of their rights.</h3>
      <p>"Empowering every visually impaired child at kindergarten age with access to exceptional educational resources is at the heart of our mission."</p>
    </section>
    <section id="works">
      <section class="project-wrapper" data-aos="fade-up" data-aos-duration="1000">
          <section class="project">
              <h3 class="project-name">Send Real Gifts</h3>
              <a href="/login" class="donate" >DONATE</a>
              <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif;">
                Mother having blind children were suffering a lot while searching for kindergarten teaching center for their blind children in Addis Ababa. Since the service was not available in Addis Ababa and even in Ethiopia, We planned to establish an organization with the aim of opening kindergarten for blind children. Hence Vision parents’ of blind children was established and licensed as a local, non-profit, charity organization on March 15,2022. We are also working on protection of the rights of children.
              </p>
          </section>
          <section class="project-img">
              <img src="images/bl4.png" alt="" class="pro-img">
          </section>            
      </section>
      <section class="project-wrapper" data-aos="fade-up" data-aos-duration="1000" style=" gap: 2rem; flex-direction: row-reverse; flex-wrap: wrap;">
        <section class="project" style="flex-wrap: wrap;">
          <h3 style="font-family: Poppins; text-align: center;">
          Message from the children
          </h3>
          <p style="font-family: Poppins; font-size: 1rem; text-align: center;">
          "It is an honour for me to be part of this astonishing educational service provision for blind children and vibrant team as a whole. Fully engaging on the service provision for these blind children can pay back us the joy and natural happiness. Regardless of the physical impairment, these children are very talented and gifted critical thinkers who will positively impact the country and the globe as well. I want to invite every to join us and be part of a team to expand the educational services provision and make it accessible to every visually impaired child who might be locked in his/her room due to his/her blindness."    
         </p>     
        </section>
        <section class="project-img">
            <img src="images/photo_2024-01-10_17-34-33.jpg" alt="" class="pro-img">
        </section>            
    </section>
      <section id="children" style="font-family: Poppins;" data-aos="fade-up" data-aos-duration="1000">
        
      </section>
      <section class="video" id="video" data-aos="fade-up" data-aos-duration="1000">
        <iframe width="570" height="325" src="https://www.youtube.com/embed/MH5MAvRZnAY?si=ApKnIYUEqIfOmzUn&amp;start=706" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </section>
      <section class="project-wrapper" data-aos="fade-up" data-aos-duration="1000">
        <section class="project">
            <h3 class="project-name">CEO Message:</h3>
            <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif;">
              This organization was established by mothers having visually impaired children and working on the provision of tuition free quality kindergarten teaching service for the children in Ethiopia. It is the ever first of its kind kindergarten, teaching center. Since it has no sustainable and consistent source of income, it needs the collaboration and support from every one.  
            </p>
        </section>
        <section class="project-img" id="article" >
            <img src="images/photo_2024-01-10_09-41-41.jpg" alt="" class="pro-img" style="width: 50%; box-shadow: none;" >
        </section>            
    </section>
    <section class="m-article"data-aos="fade-up" data-aos-duration="1500">
      <section class="article">
        <section>
         <p>OUR RECENT NEWS</p> 
         <h3>Latest News & Articles</h3>   
        </section>
        <a href="#article" class="donate" >view here<img src="/images/down-arrow.png" alt=""></a>
      </section>
      <section class="ads">
        <a href="https://amharic.voanews.com/a/7409211.html" target="_blank">
          <section class="member">
            <img src="/images/bl1.png" alt="" style="width: 350px; height: 180px;">
            <a href="" style="color: rgb(58, 54, 54); font-weight: 500;">The first Kindergarten for the blind who gave birth to the problem in Ethiopia needs expansion support</a>
        </section>
        </a>
        <a href="https://www.youtube.com/watch?v=o4DLdP82caQ" target="_blank">
          <section class="member">
            <img src="/images/bl2.png" alt="" style="width: 350px; height: 180px;">
            <a href="" style="color: black; font-weight: 500;">I woke up when he got home! Mothers who are as pure as gold!</a>
        </section>
        </a>
        <a href="https://www.mixcloud.com/ShegerFM/gfsdg/" target="_blank">
          <section class="member">
            <img src="/images/bl3.png" alt="" style="width: 350px; height: 180px;">
            <a href="" style="color: black; font-weight: 500;">An organization established for students of blind children has said that he is going to quit his job</a>
        </section>
        </a>
      </section>
      
    </section>
  </section>
  
    
  </section>
    <%- include('../partials/footer'); %>
  </body>
</html>
