<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  
  <body>
    <%- include('../partials/header'); %>
    <section id="works">
      <section class="project-wrapper" data-aos="fade-up" data-aos-duration="1000">
          <section class="project">
              <h3 class="project-name">Send Real Gifts</h3>
              <a href="" class="donate" >DONATE</a>
              <p class="project-description" style="color: rgb(69, 66, 58); font-family: Poppins, sans-serif;">
                Optical impairment is a serious challenge that affects millions of people worldwide. With proper eye care, they can regain their independence and enhance their overall quality of life. We, at our organization, aim to provide vision correction for the optically impaired individuals who need it the most. By donating, you are directly contributing to the betterment of their lives
              </p>
          </section>
          <section class="project-img">
              <img src="images/istockphoto-1485460464-1024x1024.jpg" alt="" class="pro-img">
          </section>            
      </section>
      <div class="div"></div>
      <section id="about">
        <h3>About us,</h3>
        <p>At "Visually Impaired Solutions", our mission is to enhance the quality of life for individuals who are visually impaired. Our team of professionals is dedicated to providing effective tools and resources to empower these individuals to lead fulfilling lives</p>
  
        <ul>
          <p>Our approach to supporting visually impaired individuals involves several strategies, including:</p>
          <li>Offering innovative technologies and devices that enable better accessibility to information and resources.</li>
          <li>Providing tailored training and support services to enhance the functional capabilities of individuals with visual impairments.</li>
          <li>Facilitating a strong community network where visually impaired individuals can share experiences, support each other, and learn from the experiences of others.</li>
        </ul>
    </section>
  </section>
  
    
  </section>
    <%- include('../partials/footer'); %>
  </body>
</html>
