<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
  
      
<body>
    <%- include('../partials/header'); %>
    <div class="login-container">
        <div class="login-card">
            <h3>Login</h3>
            <% if (typeof(errors) != undefined && errors.length > 0) {%>
                <%errors.forEach(item => {%>
                    <div class="error" onclick="this.hidden=true" style="width: 40%; display: flex; justify-content: space-between; background-color: rgb(253, 194, 194); padding: 0.6rem 1rem; border-radius: 1rem;">
                        <p><%= item.msg %></p>
                        <p >X</p>
                      </div>
                    <%})%>
                <%}%>
            <form>
                <input type="text" name="email" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p style="margin-top: 1rem; font-family: Poppins, sans-serif;">Be a member:  <a href="/signup">Create account</a></p>
        </div>
        
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>