<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  
  <body>
    <%- include('../partials/header'); %>
    <h4 style="font-family: Poppins, sans-serif; padding: 1rem 2rem; text-align: center;">Welcome to our staff members page</h4>
    <p style="font-family: Poppins, sans-serif; padding-left: 2rem; font-size: 1rem; text-align: center;">Here you can contact our staff members using their method of connection</p>
    <section class="staff">
        <section class="member">
            <img src="/images/photo_2024-01-10_09-41-41.jpg" alt="">
            <h4>Mr. Getachew Dejen</h4>
            <h5>LEADERSHIP AND TEAMS: MANAGER</h5>
        </section>
        <section class="member">
            <img src="/images/photo_2024-01-10_09-41-02.jpg" alt="">
            <h4>Ms. Birtukan Fetene   </h4>
            <h5>Board of Directorates: Member</h5>
        </section>
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Saron Nigusse</h4>
            <h5>Teaching Staff</h5> 
        </section> -->
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Tirunesh Hika</h4>
            <h5>Teaching Staff</h5>
        </section> -->
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Ruth Minawlkulet </h4>
            <h5>Teaching Staff</h5>
        </section> -->
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Felekech Wolde</h4>
            <h5>Board of Directorates: Chair</h5>
        </section> -->
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Ms. Senait Yehualawork</h4>
            <h5>Board of Directorates: Vice Chair</h5>
        </section> -->
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Ms. Welela Girma </h4>
            <h5>Board of Directorates: Member</h5>
        </section> -->
        
        <!-- <section class="member">
            <img src="/images/istockphoto-1485460464-1024x1024.jpg" alt="">
            <h4>Ms. Lula Abdela</h4>
            <h5>Board of Directorates: Member</h5>
        </section> -->
    </section>
    
    <%- include('../partials/footer'); %>
  </body>
</html>
